<script src="js/jssor.slider-25.0.7.min.js" type="text/javascript"></script>
<script src="js/aboutslider.js" type="text/javascript"></script>
<script type="text/javascript">jssor_1_slider_init();</script>

<style>
 .nocolorbackground {
  background-color:white;
 }
 .figcaptioncchanges   {
  background:#ECF0F4 !important;
  overflow: auto !important;
  padding-top:.75em !important;
  padding-right: .75em !important;
  padding-bottom: .75em !important;
  padding-left: .75em !important;
 }
</style>

<!-- Page Content -->
<div class="container">
 <div class="row nocolorbackground">
  <div class="col-lg-12">
   <h1 class="page-header">About</h1>
  </div>
 </div>
 <div class="row">
  <div class="col-md-6" >
   <div id="jssor_1" class="aboutcar">
    <div data-u="slides" class="aboutslides">


      <div>
      <img data-u="image" src="img/one.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/two.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/three.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/four.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/five.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/six.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/pic11.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/pic12.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/pic13.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/pic14.jpg" />
     </div>
     <a data-u="any" href="https://www.jssor.com" style="display:none">slider bootstrap</a>
    </div>


<!-- Bullet Navigator -->
<!--
<div data-u="navigator" class="jssorb072" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
<div data-u="prototype" class="i" style="width:24px;height:24px;font-size:12px;line-height:24px;">
<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;">
<circle class="b" cx="8000" cy="8000" r="6666.7"></circle>
</svg>
<div data-u="numbertemplate" class="n"></div>
</div>
</div>
-->
   </div>
   <script type="text/javascript">jssor_1_slider_init();</script>

<!-- #endregion Jssor Slider End -->
  </div>
<br><br>

  <div class="col-md-6">
   <h2>Coalition for a Brighter Greene</h2>
   <p>
    The Coalition for a Brighter Greene was formed as an outcome of a 2015 Greene County Town Hall Meeting on substance abuse. It is an all-volunteer organization working with community leaders, schools, churches, public organizations and citizens to alleviate the drug abuse problem in our county. In the last sixteen months, the Coalition has sponsored the March for Greene, twenty-two Drug Awareness Movie Nights, four quarterly Coalition Update meetings, four Neighborhood Watch/Greene Zone start-up meetings, and instituted the Botvin Life Skills Substance Abuse Prevention Curriculum in all five Greene County School Districts, serving 2,750 students, Grades 3-9.
   </p>
  </div>
 </div>

 <div class="row nocolorbackground">
  <div class="col-lg-12">
   <h2 class="page-header" style="text-align:center">Our Team</h2>
  </div>
 </div>
<!-- Start of Team member section -->

 <div class="row nocolorbackground ">
     <div class="col-md-3">
<!--      Start of indivual team member bio and pic-->
        <div class="team-member">
            <figure class="effect-zoe">
                <div class="team-photo">
                    <img src="img/revberkley.jpg" alt="Rachel James Johnes" class="img-responsive" style="width: 150px;height: 185px;">
                </div>
                <div class="team-attrs">
                    <div class="team-name font-accident-two-bold-italic">Richard Berkey</div>
                    <div class="team-position">President</div>
                </div>
                <div class="team-content small">
                </div>
               <figcaption class="figcaptioncchanges">
                 Pastor Berkey is Senior Pastor of Rolling Meadows Church of God, 20 years as senior pastor, 10 years full time Evangelist, went out of the country 4 times; in which we held several crusades and an international youth conference. 
                </figcaption>
            </figure>
        </div>
        <div class="dividewhite4"></div>
    </div>
  <!--      End of indivual team member bio and pic-->
    <div class="col-md-3">
        <div class="team-member">
            <figure class="effect-zoe">
                <div class="team-photo">
       <img src="img/philomenablaney.jpg" alt="Jonathan Johnson" class="img-responsive" style="width: 150px;height: 185px;">                </div>
               <div class="team-attrs">
       <div class="team-name font-accident-two-bold-italic">Philomena B. Blaney</div>
       <div class="team-position">Secretary</div>
      </div>
                <div class="team-content small">
                    
                </div><figcaption class="figcaptioncchanges">

          Phil is a resident of Greene County, married with two daughters and six grandchildren.  She is a graduate of the Pennsylvania State University, BS, Marketing.  She is retired from Procter and Gamble where she worked for 27 years. Her final position with P&G was as North Central United States Regional Sales Manager for Health and Beauty Care Divisions. She is a member of The First Church of the Nazarene of Waynesburg, PA., where she teaches adult Sunday School.  
                  
                </figcaption>
            </figure>
        </div>
        <div class="dividewhite4"></div>
    </div>
  
    
  <div class="col-md-3">
        <div class="team-member">
            <figure class="effect-zoe">
                <div class="team-photo">
       <img src="img/jonathanjohnson.jpg" alt="Jonathan Johnson" class="img-responsive" style="width: 150px;height: 185px;">                </div>
               <div class="team-attrs">
       <div class="team-name font-accident-two-bold-italic">Jonathan Johnson</div>
       <div class="team-position">Treasurer</div>
      </div>
                <div class="team-content small">
                    
                </div><figcaption class="figcaptioncchanges" >

                        Jonathan is a Licensed Clinical Social Worker and 20 year resident of Greene County.  Jonathan has been the moderator of First Baptist Church of Waynesburg for 5 years. Previously the Director of the SRMC Center for Recovery and Wellness, provider of mental health and substance abuse treatment. He is also the creator of Anxiety Resolver smartphone application and Adjunct professor at West Virginia University. 
                  
                </figcaption>
            </figure>
        </div>
        <div class="dividewhite4"></div>
    </div>

  <div class="col-md-3">
        <div class="team-member">
            <figure class="effect-zoe">
                <div class="team-photo">
                    <img src="img/christinegardner.jpg" alt="Jonathan Johnson" class="img-responsive" style="width: 150px;height: 185px;">
                </div>
                <div class="team-attrs">
                    <div class="team-name font-accident-two-bold-italic">Christine Gardner</div>
                    <div class="team-position">Board Member</div>
                </div>
                <div class="team-content small">

             </div>
                <figcaption class="figcaptioncchanges">

                        Chris has 30 years not for profit experience to include administration, formation of programs, grant writing and fund raising. 
                  
                </figcaption>
            </figure>
        </div>
        <div class="dividewhite4"></div>
    </div>
    
 
</div>
 <div class="nocolorbackground" style="padding-top:5rem;padding:bottom:2rem">

    <div class="col-md-3">
        <div class="team-member">
            <figure class="effect-zoe">
                <div class="team-photo">
                    <img src="img/revdrpeirce.jpg" alt="Jonathan Johnson" class="img-responsive" style="width: 150px;height: 185px;">
                </div>
                <div class="team-attrs">
                    <div class="team-name font-accident-two-bold-italic" style="font-size: 18px;">Rev. Dr. Edward W. Peirce</div>
                    <div class="team-position">Board Member</div>
                </div>
                <div class="team-content small">
                    
                </div>
                <figcaption class="figcaptioncchanges">
                 Rev. Dr. Edward W. Peirce has been an ordained American Baptist pastor since 1973 ,he is currently the pastor of First Baptist Church of Waynesburg. He served for 15 years as the Regional Director of Dispute Resolution Services for the Better Business Bureau in south central Ohio and all of West Virginia where he developed mediation and arbitration programs. Dr. Peirce is also an adjunct member of the faculty of the University of Akron where he teaches both undergraduate and graduate courses in conflict management systems.
                </figcaption>
            </figure>
        </div>
        <div class="dividewhite4"></div>
    </div>


    <div class="col-md-3">
        <div class="team-member">
            <figure class="effect-zoe">
                <div class="team-photo">
                    <img src="img/img_3673.jpg" alt="Thomas Schlosser" class="img-responsive" style="width: 150px;height: 185px;">
                </div>
                <div class="team-attrs">
                    <div class="team-name font-accident-two-bold-italic">Thomas Schlosser</div>
                    <div class="team-position">MA, NCC, LPC</div>
                </div>
                <div class="team-content small">

             </div>
                <figcaption class="figcaptioncchanges">

                        Tom graduated from Waynesburg University with a Masters in Counseling with a specialization in Addictions. He is a Nationally Certified Counselor and Licensed Professional Counselor in Pennsylvania. Currently, Tom has a private counseling practice and is an adjunct professor at Waynesburg University.  He is a Deacon at the Waynesburg Bible Chapel and enjoys co-leading mission trips to Guatemala. In his spare time, Tom enjoys finding new places to eat with his wife and anything outdoors. 
                  
                </figcaption>
            </figure>
        </div>
        <div class="dividewhite4"></div>
    </div>
  
  <div class="col-md-3">
        <div class="team-member">
            <figure class="effect-zoe">
                <div class="team-photo">
                    <img src="img/coramitchell.jpg" alt="Thomas Schlosser" class="img-responsive" style="width: 150px;height: 185px;">
                </div>
                <div class="team-attrs">
                    <div class="team-name font-accident-two-bold-italic">Cora Mitchell</div>
                    <div class="team-position">Board Member</div>
                </div>
                <div class="team-content small">

             </div>
                <figcaption class="figcaptioncchanges">
                   Cora is currently pursuing her Masters in Social Work at California University of PA. She has considerable experience working with the elderly population, Teens-at-Risk, the homeless, mental illness, poverty and addiction. For the past six years, addiction, recovery, re-entry and vocational training have been her focal point.  She has also developed programs that help men struggling with homelessness and addiction obtain and maintain independent housing as well as a program to aid homeless mothers obtain employment, housing and independence. She served on the Presidents committee for the Status of Women at California University and as a delegate for local SEIU/1199 at Washington Health Systems for several years. Cora assisted in the creation of  “Bridge The Gap” re-entry program and served as Vocational Coordinator for that program. She and her Husband William have been married for 33 years and have 2 daughters. Together they created and hosted the Calvary Temple Youth Group in Washington Pa where they are members.
                        
                </figcaption>
            </figure>
        </div>
        <div class="dividewhite4"></div>
    </div>

</div>

</div>


<!-- /.row -->




