<script src="js/jssor.slider-25.0.7.min.js" type="text/javascript"></script>
<script src="js/aboutslider.js" type="text/javascript"></script>
<script type="text/javascript">jssor_1_slider_init();</script>



<!-- Page Content -->
<div class="container">
 <div class="row">
  <div class="col-lg-12">
   <h1 class="page-header">About</h1>
  </div>
 </div>
 <div class="row">
  <div class="col-md-6" >
   <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:500px;height:500px;overflow:hidden;visibility:hidden;">
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:500px;height:500px;overflow:hidden;">
     <div>
      <img data-u="image" src="img/one.jpg" />
     </div>
     <div> 
      <img data-u="image" src="img/two.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/three.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/four.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/five.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/six.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/pic11.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/pic12.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/pic13.jpg" />
     </div>
     <div>
      <img data-u="image" src="img/pic14.jpg" />
     </div>
     <a data-u="any" href="https://www.jssor.com" style="display:none">slider bootstrap</a>-->
    </div>
<!-- Bullet Navigator -->
<!--
<div data-u="navigator" class="jssorb072" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
<div data-u="prototype" class="i" style="width:24px;height:24px;font-size:12px;line-height:24px;">
<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;">
<circle class="b" cx="8000" cy="8000" r="6666.7"></circle>
</svg>
<div data-u="numbertemplate" class="n"></div>
</div>
</div>
-->
   </div>
   <script type="text/javascript">jssor_1_slider_init();</script>

<!-- #endregion Jssor Slider End -->
  </div>
<br><br>

  <div class="col-md-6">
   <h2>Coalition for a Brighter Greene</h2>
   <p>
    The Coalition for a Brighter Greene was formed as an outcome of a 2015 Greene County Town Hall Meeting on  substance abuse. It is an all-volunteer organization working with community leaders, schools, churches, public organizations and citizens to alleviate the drug abuse problem in our county. In the last sixteen months, the Coalition has sponsored the March for Greene, twenty-two Drug Awareness Movie Nights, four quarterly Coalition Update meetings, four Neighborhood Watch/Greene Zone start-up meetings, and instituted the Botvin Life Skills Substance Abuse Prevention Curriculum in all five Greene County School Districts, serving 2,750 students, Grades 3-9.
   </p>
  </div>
 </div>

 <div class="row">
  <div class="col-lg-12">
   <h2 class="page-header" style="text-align:center">Our Team</h2>
  </div>

  <div class="col-lg-11 col-lg-offset-1">
   <div class="col-md-2">
    <div class="team-member">
     <figure class="effect-zoe">
      <div class="team-photo" >
       <img src="img/pic9.jpg" alt="Rachel James Johnes" class="img-responsive">
      </div>
      <div class="team-attrs">
       <div class="team-name font-accident-two-bold-italic">John Doe</div>
       <div class="team-position">Job-Title</div>
      </div>
      <div class="team-content small">
       Desciption of job and or person
      </div>
      <figcaption>
       <p class="icon-links">
        <a href="#!"><i class="fa fa-google"></i></a>
        <a href="#!"><i class="fa fa-instagram"></i></a>
        <a href="#!"><i class="fa fa-facebook"></i></a>
       </p>

       <p class="phone-number">
        <a href="#!">tel: 1 234 567-89-10</a>
       </p>
      </figcaption>
     </figure>
    </div> 
    <div class="dividewhite4"></div>
   </div>
   <div class="col-md-2">
    <div class="team-member">
     <figure class="effect-zoe"> 
      <div class="team-photo">
       <img src="img/pic8.jpg" alt="Rachel James Johnes" class="img-responsive">
      </div>
      <div class="team-attrs">
       <div class="team-name font-accident-two-bold-italic">John Doe</div>
       <div class="team-position">Job-Title</div>
      </div>
      <div class="team-content small">
       Desciption of job and or person
      </div>
      <figcaption>
       <p class="icon-links">
        <a href="#!"><i class="fa fa-google"></i></a>
        <a href="#!"><i class="fa fa-instagram"></i></a> 
        <a href="#!"><i class="fa fa-facebook"></i></a>
       </p>
       <p class="phone-number">
        <a href="#!">tel: 1 234 567-89-10</a>
       </p>
      </figcaption>
     </figure>
    </div>
    <div class="dividewhite4"></div>
   </div> 
   <div class="col-md-2">
    <div class="team-member">
     <figure class="effect-zoe">
      <div class="team-photo"> 
       <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Rachel James Johnes" class="img-responsive">
      </div>
      <div class="team-attrs">
       <div class="team-name font-accident-two-bold-italic">John Doe</div>
       <div class="team-position">Job-Title</div>
      </div>
      <div class="team-content small">
       Desciption of job and or person
      </div>
      <figcaption> 
       <p class="icon-links">
        <a href="#!"><i class="fa fa-google"></i></a>
        <a href="#!"><i class="fa fa-instagram"></i></a>
        <a href="#!"><i class="fa fa-facebook"></i></a> 
       </p>

       <p class="phone-number">
        <a href="#!">tel: 1 234 567-89-10</a> 
       </p>
      </figcaption>
     </figure>
    </div>
    <div class="dividewhite4"></div> 
   </div>
   <div class="col-md-2">
    <div class="team-member"> 
     <figure class="effect-zoe">
      <div class="team-photo">
       <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Rachel James Johnes" class="img-responsive">
      </div>
      <div class="team-attrs">
       <div class="team-name font-accident-two-bold-italic">John Doe</div>
       <div class="team-position">Job-Title</div>
      </div>
      <div class="team-content small">
       Desciption of job and or person
</div>
<figcaption>
<p class="icon-links">
<a href="#!"><i class="fa fa-google"></i></a>
<a href="#!"><i class="fa fa-instagram"></i></a>
<a href="#!"><i class="fa fa-facebook"></i></a>
</p>

<p class="phone-number">
<a href="#!">tel: 1 234 567-89-10</a>
</p>
</figcaption>
</figure>
</div>
<div class="dividewhite4"></div>
</div>
<div class="col-md-2">
<div class="team-member">
<figure class="effect-zoe">
<div class="team-photo">
<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Rachel James Johnes" class="img-responsive">
</div>
<div class="team-attrs">
<div class="team-name font-accident-two-bold-italic">John Doe</div>
<div class="team-position">Job-Title</div>
</div>
<div class="team-content small">
Desciption of person or job will go here
</div>
<figcaption>
<p class="icon-links">
<a href="#!"><i class="fa fa-google"></i></a>
<a href="#!"><i class="fa fa-instagram"></i></a>
<a href="#!"><i class="fa fa-facebook"></i></a>
</p>

<p class="phone-number">
<a href="#!">tel: 1 234 567-89-10</a>
</p>
</figcaption>
</figure>
</div>
<!--        <div class="dividewhite4"></div>-->
</div>
</div>    

</div>

<!-- /.row -->
