        
  
  <div class="row">
    <div class="col-lg-12" style="text-align:center">
      <h3 style="text-align:center"> Support us in Making Greene County a BRIGHTER one</h3>

     <br><br><br>
     <div class="col-lg-6 col-lg-offset-3">
      <p>
    <img src="img/comingsoon.jpg" width="350rem">
      <br><br>
      <p>
       You can choose to support us by <a href="/support">donating</a> today!
      </p>
     <br> <br> <br> <br>
       
    </div>
   </div>
  </div>


