<div class="container partially-transparent tclogo">

  <section id="about" class="centered">
    <div class="col-xs-12">      
      <section id="research" class="centered">    
        <div class="apply-box">
         <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact</h1>
                <p style="text-align:center;color:red"><%=message%></p>

                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="250px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Contact Details</h3>
                <p>
                    <br>Waynesburg, PA 15370<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: (123) 456-7890</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">name@example.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
          <h2 style="text-align:center">SEND A MESSAGE</h2>
          <form action="/contact" method="POST">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <div class="control-group form-group">
                  <div class="controls">
                    <label>* Name:</label>
                    <input required = "true" type="text" class="form-control" id="name" name="name" required>
                    <p class="help-block"></p>
                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <label>&nbsp; Phone Number:</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                  </div>
                </div>
                <div class="control-group form-group">
                  <div class="controls">
                    <label>* Email Address:</label>
                    <input   type="email" class="form-control" id="email" name="email" required = "true" >
                  </div>
                </div>
                  <div class="control-group form-group">
                  <div class="controls">
                    <label>* Reason for Contact:</label>
                    <select name="reason" style="width:100%">
                       <option selected="" disabled="" style="display: none" value="">-Reason for Contact-</option> 
                       <option value="Volunteer">Volunteer</option>
                       <option value="Share Story">Share Story</option>
                       <option value="Services">Services</option>
                       <option value="Register">Register</option>
                       <option value="Other">Other</option>
                   </select>
                  </div>
                </div>
                 <div class="control-group form-group">
                  <label>* I'm not a robot! <%=num1%> + <%=num2%> =</label>
                  <input   type="number" class="form-control" name="robot" required = "true" >
                  <input type="hidden" name="sum" value=<%=sum%>>  
                </div>
              </div>        
              <div class="col-md-5 col-sm-12">
                <div class="control-group form-group">
                  <div class="controls ">
                    <label>* Message:</label>
                    <textarea rows="13" cols="150" class="form-control message" id="message" name ="message" required = "true" ></textarea>
                  </div> 
                </div>
                <input type="submit" value="Submit" class="button">
<!--                <input type="checkbox" name="mailinglist" value="add"> Add me to the mailing list-->
              </div>        
            </div> 
          </form>
        </div>
      </section>
    </div> 
  </section>
</div> 