<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=260411857697081";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style>
 .nocolorbackground {
  background-color:white;
 }
</style>   
<div class="container">

<!-- Content Row -->
 <div class="row " >
    <div class="col-lg-12 fontcenter2">
     <h3 class="fontcenter">Current Events</h3>
     <iframe src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=greenecocoalition%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border: 0" width="80%" height="500" frameborder="0" scrolling="no" ></iframe>
    </div>
   </div>
   <hr>
   <div class="row nocolorbackground">
    <h3 class="fontcenter">News</h3>
    <div class="fb-page col-md-6 fontcenter" data-href="https://www.facebook.com/The-Coalition-for-A-Brighter-Greene-1799521516997653/" data-tabs="timeline" data-width="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/The-Coalition-for-A-Brighter-Greene-1799521516997653/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/The-Coalition-for-A-Brighter-Greene-1799521516997653/">Coalition for a Brighter Greene</a></blockquote></div>
    <div class="col-md-6 newsarticles">
     <%news_articles.each_with_index do |article_info,index|%>
     <h4><%=article_info["article_month"]%></h4><br>
     <%index = 0 || index %>
     <%article_info["article_link"].gsub(/(\[\"|\"\])/, '').split('", "').each do  |link|%>
     <a href=<%=link%>><%=article_info["article_name"].gsub(/(\[\"|\"\])/, '').split('", "')[index]%></a><br>
     <%index += 1 %>
     <%end%>
     <%end%>
    </div>
 </div>
<!--
   <hr>
   <div class="row">
    <h3  class="fontcenter">In Memoriam</h3>
    <div class="col-md-4 text-center col-md-offset-4 col-lg-offset-4">
     <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      <div class="caption">
       <h3>John Smith<br>
        <small>06/23/1980 - 06/20/2017</small>
       </h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
      </div>
     </div>
    </div>
  </div>
-->
</div>
