<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=260411857697081";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Content Row -->
   <div class="row" >
    <div class="col-lg-12" style="text-align:center">
     <h3>Current Events</h3>
    <iframe src="https://calendar.google.com/calendar/embed?src=greenecocoalition%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
   </div>
   <hr>
   <div class="row">
    <h3  style="text-align:center">News</h3>
    <div class="fb-page col-lg-4 col-lg-offset-1 " data-href="https://www.facebook.com/Coalition-for-a-Brighter-Greene-560389687500356/" data-tabs="timeline" data-width="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Coalition-for-a-Brighter-Greene-560389687500356/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Coalition-for-a-Brighter-Greene-560389687500356/">Coalition for a Brighter Greene</a></blockquote></div>
    <div class="col-lg-5 col-lg-offset-1 ">
     <h4>October 2016</h4>
     <p> 
      <a href="http://www.observer-reporter.com/20161007/coalition_for_a_brighter_greene_reflects_on_first_year_of_battling_heroin">Coalition for a Brighter Greene reflects on first year of battling heroin</a>
      <br>
      <a href="http://www.observer-reporter.com/20161001/coalition_for_a_brighter_greene_to_hold_another_town_hall_on_heroin">Coalition for a Brighter Greene to hold another town hall on heroin</a>
     </p>
     <h4>September 2016</h4>
     <p> 
      <a href="http://www.heraldstandard.com/gcm/news/local_news/coalition-working-to-combat-addiction-in-greene-county/article_3820f40b-9073-53de-a20e-727b2eabe7ef.html">Coalition working to combat addiction in Greene County</a>
     </p>
     <h4>August 2016</h4>
     <p>
      <a href="http://www.observer-reporter.com/20160826/searching_for_a_brighter_greene">Searching for a Brighter Greene</a>
     </p>
     <h4>June 2016</h4>
     <p>
     <a href="http://www.observer-reporter.com/20160615/greene_county_to_implement_drug-prevention_curriculum_in_all_five_districts">Greene County to implement drug-prevention curriculum in all five districts</a>
     </p>
     <h4>May 2016</h4>
     <p>
      <a href="http://www.heraldstandard.com/gcm/news/local_news/ready-to-march-for-greene/article_c6d83695-76da-5cb1-80b2-482762569d8b.html">Ready to March for Greene</a>
     </p>
     <h4>June 2017</h4>
     <p>
     <a href="http://www.observer-reporter.com/20170623/west_greene_contemplates_former_graysville_elementary_as_rehab_center">West Greene contemplates former Graysville Elementary as rehab center</a>
     </p>
     
    </div>
    

   </div>
   <hr >
   <div class="row">
    <h3  style="text-align:center">In Memoriam</h3>
    <div class="col-md-4 text-center col-md-offset-4 col-lg-offset-4">
     <div class="thumbnail">
      <img class="img-responsive" src="http://placehold.it/750x450" alt="">
      <div class="caption">
       <h3>John Smith<br>
        <small>06/23/1980 - 06/20/2017</small>
       </h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
      </div>
     </div>
    </div>
  </div>                   
