        <!-- Content Row -->
        <div class="row" >
            <div class="col-lg-12" style="text-align:center">
             <h3>Current Events</h3>

              <iframe src="https://calendar.google.com/calendar/embed?src=joseph.mckenzie%40minedminds.org&ctz=America/New_York" style="border: 0" width="700" height="500" frameborder="0" scrolling="no" ></iframe>
            </div>
                
             <div class="col-lg-12" style="text-align:center">
             <h3>News</h3>
              <h4>October 2016</h4>
              <p> 
              <a href="http://www.observer-reporter.com/20161007/coalition_for_a_brighter_greene_reflects_on_first_year_of_battling_heroin">Coalition for a Brighter Greene reflects on first year of battling heroin</a>
              </p>
              <p>
               <a href="http://www.observer-reporter.com/20161001/coalition_for_a_brighter_greene_to_hold_another_town_hall_on_heroin">Coalition for a Brighter Greene to hold another town hall on heroin</a>
              </p>
            </div>
          
         
         
         
         
         
        </div>