<input  type = "hidden" id = "hidden_name" value = <%=name%>>
<input type = "hidden" id = "hidden_invalid" value = <%=invalid%>>

<!-- Top content -->

		<div class="container">
			<header class="company-header" style="text-align:center">
				<h1>Coalition for a Brighter Greene</h1>
			</header>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 form-box">
				<div class="form-top">
					<div class="form-top-left">
						<h3>Password reset request</h3>
						<p>Please fill out your email:</p>
					</div>
				</div>

				<div class="form-bottom">
					<form action="/forgot_password" method="post" class="login-form">
						<div class="form-group">
							<label class="hidden-xs">*Email address</label>
							<input  type="text" name="email" class="form-control" autofocus="autofocus" required="required">
						</div>
                          <p class="error"><%=message%></p>
						<button type="submit" class="btn">Reset Password!</button>
					</form>
				</div>                  
			</div>
		</div>
		</div>
