  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style type="text/css">  
    .col-centered {
    float: none;
    margin: 0 auto;
}
.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
      font-size: 29px !important;
}
.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }
 .active > div { display:none; }
 .active > div:first-child { display:block; }
/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev            { left: -50%; }
  .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; }
}
/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev            { left: -50%; }
  .carousel-col                { width: 50%; }
    .active > div:first-child + div { display:block; } 
}
/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
    .carousel-inner .next        { left:  33%; }
    .carousel-inner .prev            { left: -33%; }
  .carousel-col                { width: 33%; }
    .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }*/
}
/*/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
    .carousel-inner .next        { left:  25%; }
    .carousel-inner .prev            { left: -25%; }
  .carousel-col                { width: 15%; }
    .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
    .active > div:first-child + div + div + div { display:block; }
}
.block {
    width: 150px;
    height: 30px;
}
.red {background: red;}
.blue {background: blue;}
.green {background: green;}
.yellow {background: yellow;}

  .carousel .item {
  text-align: center;
  height: 470px;
}   
.inner-item {
    text-align: center;
    img {
        margin: 0 auto;
    }
}
</style>



<!-- Header Carousel -->
 <header id="myCarousel" class="carousel slide">
 
<!-- Indicators -->
  <ol class="carousel-indicators"> 
   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
   <li data-target="#myCarousel" data-slide-to="1"></li>
   <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

<!-- Wrapper for slides -->
  <div class="carousel-inner"> 
   <div class="item active"> 
    <div class="fill"><img src='img/newone.jpg' class="img-responsive" style=" margin: 0 auto;">></div>
   </div>
   
   <div class="item">
    <div class="fill"><img src="img/newsie.jpg" class="img-responsive" style=" margin: 0 auto;">></div>
   </div>
   <div class="item">
    <div class="fill"><img src='img/iaOne.jpg' class="img-responsive" style=" margin: 0 auto;"></div>
   </div>
  
<div class="item">
    <div class="fill"><img src='img/iaTwo.jpg' class="img-responsive" style=" margin: 0 auto;"></div>
   </div>
   <div class="item">
    <div class="fill"><img src='img/iaThree.jpg' class="img-responsive" style=" margin: 0 auto;"></div>
   </div>
   <div class="item">
    <div class="fill"><img src='img/newbie.jpg' class="img-responsive" style=" margin: 0 auto;"></div>
    </header>
   </div>
   </div>



<!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
   <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
   <span class="icon-next"></span>
  </a>
 </header>
<br><br><br>


     <div class="col-lg-12"  id="who">

<div style="text-align:center" >
 </div>
<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style="text-align:center">Spotlight</h2>
             <p class="col-md-6 text-center  col-lg-offset-3">
             
              
              
              In our annual spotlight section we like to highlight a champion of recovery and to say thanks a to 
              member of the community who has done something to help alleviate the issues surronding the drug problem in Greene county. 
             </p>
            </div>
 
            <div class="col-md-4 text-center  col-lg-offset-2">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith
                     </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <div class="caption">
                        <h3>John Smith
                            
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
                       
                    </div>
                </div>
            </div>
 </div>

</div>

 <div class="col-lg-6">
  <div >
   <div class="panel panel-default">
    <div class="panel-heading">
     <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How</a>
     </h4>
    </div>
    <div id="">
     <div class="panel-body">
      <p style="text-align:center">How do you know Greene County is in A Drug Epidemic?</p>
      <p>Greene County data confirms a growing epidemic of substance abuse: 
       2015 Pennsylvania Youth Survey data from all five Greene County School Districts
       showing significant risk in four key areas and 39% of students at risk in a significant
       number of areas.

<!--
 2015 Pennsylvania Coroners Report reveals Greene ranks 5 th of 67 Pennsylvania
 Counties in death-due- to-overdose with 36% more deaths than the previous year.
 2015 Pennsylvania Coroners Report reveals the Greene County death-due- to-overdose
 rate is 37% higher than the Pennsylvania average, and is higher than Washington,
 Fayette or Allegheny counties.Greene County Children and Youth data show an increase in county babies born with illegal substances in their systems: 33 in 2015 versus 13 in 2012.
-->
      </p>
      <p><a href="section#whatever">Learn More</a></p>
     </div>
    </div>
   </div>
<!-- /.panel -->
   <div class="panel panel-default">
    <div class="panel-heading">
     <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Why</a>
     </h4>
    </div>
    <div id="">
     <div class="panel-body">
      <p style="text-align:center">Why do we need The Brighter Greene Coalition in our community?</p>
      <p>The Brighter Greene Coalition provides valuable partnerships between various sectors
       of the community.  A working coalition allows our community to come together and
       represent a collaboration of various citizens with one united goal ...

<!--
    to provide a unified
   approach to ensuring that our community is against illicit drug usage.  Furthermore it
   is through these citizens and partnerships that the Brighter Greene Coalition is able to
   reach such a large audience in various sectors of the community.
-->
      </p>
      <p><a href="section#whatever">Learn More</a></p>
     </div>
    </div>
   </div>
  </div>
</div>
 <div class="col-lg-6">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h4 class="panel-title">
     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Who</a>
    </h4>
   </div>

   <div class="panel-body">

    <p style="text-align:center"> Who is the The Brighter Greene Coalition?</p>
    <p>
     We aim to help those seeking help and their affected loved ones to obtain the services and the help they desperately need.We aim to help those seeking help and their affected loved ones to obtain the services and the help they desperately need.
    <p><a href="about#who">Learn More</a></p>
   </div>
  </div>
<!--                     /.panel -->
  <div class="panel panel-default">
   <div class="panel-heading">
    <h4 class="panel-title">
     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What </a>
    </h4>
   </div>
   <div class="panel-body">
    <p style="text-align:center"> What is the mission of The Brighter Greene Coalition?</p>
    <p>
     The Mission of The Coalition for a Brighter Greene is to advocate continuous progress toward a drug-free Greene County. We promote efforts that further this purpose by advancing positive, durable change. 
    </p>
<!--
We provide nonpartisan leadership, collaboration, and
 resources that inform, educate and empower our citizens. We encourage and support enduring success in prevention, accountability and recovery. Our work cultivates a caring,safe, healthy, thriving community.
-->
    <p><a href="about">Learn More</a></p>
   </div>
  </div>
</div>

 <div class="container">
  <div class="row">
   <div class="col-xs-11 col-md-10 col-lg-12">
    <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
     <div class="carousel-inner">
      <div class="item active">
       <div class="carousel-col">
        <div class="block red img-responsive">Partner</div>
       </div>
      </div>
      <div class="item">
       <div class="carousel-col">
        <div class="block green img-responsive">Another partner</div>
       </div>
      </div>
      <div class="item">
       <div class="carousel-col">
        <img src="img/firstbaptist.jpg" class="img-responsive">
       </div>
      </div>
      <div class="item">
       <div class="carousel-col"> 
        <div class="block yellow img-responsive">One more partner</div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
</div>
<script>
$('.carousel[data-type="multi"] .item').each(function() {
    var next = $(this).next();
    if (!next.length) {
        next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
    for (var i = 0; i < 2; i++) {
        next = next.next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));
    }
});
</script>