  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<!-- Header Carousel -->
 <div class="row">
<div class="col-lg-12">
  <img src="img/newgroup.jpg" width="1250rem" height="500rem">
  </div>
</div>


<br><br><br><br>
 <div class="col-lg-6">
  <div >
   <div class="panel panel-default">
    <div class="panel-heading">
     <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How</a>
     </h4>
    </div>
    <div id="">
     <div class="panel-body">
      <p style="text-align:center">How do you know Greene County is in A Drug Epidemic?</p>
      <p>Greene County data confirms a growing epidemic of substance abuse: 
       2015 Pennsylvania Youth Survey data from all five Greene County School Districts
       showing significant risk in four key areas and 39% of students at risk in a significant
       number of areas.

      </p>
      <p><a href="section#whatever">Learn More</a></p>
     </div>
    </div>
   </div>
<!-- /.panel -->
   <div class="panel panel-default">
    <div class="panel-heading">
     <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Why</a>
     </h4>
    </div>
    <div id="">
     <div class="panel-body">
      <p style="text-align:center">Why do we need The Brighter Greene Coalition in our community?</p>
      <p>The Brighter Greene Coalition provides valuable partnerships between various sectors
       of the community.  A working coalition allows our community to come together and
       represent a collaboration of various citizens with one united goal ...
      </p>
      <p><a href="section#whatever">Learn More</a></p>
     </div>
    </div>
   </div>
  </div>
</div>
 <div class="col-lg-6">
  <div class="panel panel-default">
   <div class="panel-heading">
    <h4 class="panel-title">
     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Who</a>
    </h4>
   </div>

   <div class="panel-body">

    <p style="text-align:center"> Who is the The Brighter Greene Coalition?</p>
    <p>
     We aim to help those seeking help and their affected loved ones to obtain the services and the help they desperately need.We aim to help those seeking help and their affected loved ones to obtain the services and the help they desperately need.
    <p><a href="about#who">Learn More</a></p>
   </div>
  </div>
<!--                     /.panel -->
  <div class="panel panel-default">
   <div class="panel-heading">
    <h4 class="panel-title">
     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What </a>
    </h4>
   </div>
   <div class="panel-body">
    <p style="text-align:center"> What is the mission of The Brighter Greene Coalition?</p>
    <p>
     The Mission of The Coalition for a Brighter Greene is to advocate continuous progress toward a drug-free Greene County. We promote efforts that further this purpose by advancing positive, durable change. 
    </p>
    <p><a href="about">Learn More</a></p>
   </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
   <hr>
   <h2 style="text-align:center">Spotlight</h2>
   <p class="col-md-6 text-center  col-lg-offset-3">
    In our annual spotlight section we like to highlight a champion of recovery and to say thanks a to 
    member of the community who has done something to help alleviate the issues surronding the drug problem in Greene county. 
   </p>
  </div>
  <div class="col-md-4 text-center  col-lg-offset-2">
   <div class="thumbnail">
    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    <div class="caption">
     <h3>John Smith</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
    </div>
   </div>
  </div>
  <div class="col-md-4 text-center">
   <div class="thumbnail">
    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
    <div class="caption">
     <h3>John Smith</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
    </div>
   </div>
  </div>
</div>
<br><br><br><br><br><br>

 <!-- #region Jssor Slider Begin -->
    <script src="js/jssor.slider-25.0.7.min.js" type="text/javascript"></script>
   
    <style>
     .logos {
      padding-right:1rem
     }
</style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:100px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background:url('img/loading.gif') no-repeat 50% 50%;background-color:rgba(0, 0, 0, 0.7);"></div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:100px;overflow:hidden;">
            <div>
                <img data-u="image" class="logos" src="img/firstbaptist.jpg" />
            </div>
            <div>
                <img data-u="image" class="logos" src="img/bitly.jpg" />
            </div>
            <div>
                <img data-u="image" class="logos" src="img/blogger.jpg" />
            </div>
            <div>
                <img data-u="image" class="logos" src="img/dnn.jpg" />
            </div>

          
          
         
            <a data-u="any" href="https://wordpress.org/plugins/jssor-slider/" style="display:none">wordpress slider</a>
        </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>
    <!-- #endregion Jssor Slider End -->
  
<script>
 var $item = $('.carousel .item'); 
 var $wHeight = $(window).height();
 $item.eq(0).addClass('active');
 $item.height($wHeight); 
 $item.addClass('full-screen');

 $('.carousel img').each(function() {
  var $src = $(this).attr('src');
  var $color = $(this).attr('data-color');
  $(this).parent().css({
   'background-image' : 'url(' + $src + ')',
   'background-color' : $color
  });
  $(this).remove();
 });
 $(window).on('resize', function (){
  $wHeight = $(window).height();
  $item.height($wHeight);
 });
 $('.carousel').carousel({
  interval: 6000,
  pause: "false"
 });
</script>