


    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/Do-you-want-to-get-Sober-Stay-Positive.jpg');"></div>
<!--
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/rsz_1how-drug-rehabs-work-for-addicts.jpg');"></div>
<!--
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
-->
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/freedom.jpg');"></div>
<!--
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
-->
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
<br><br><br>
            <div class="col-lg-">
                <div >
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How</a>
                            </h4>
                        </div>
                        <div id="">
                            <div class="panel-body">
                             <p style="text-align:center">How do you know Greene County is in A Drug Epidemic?</p>
                             <p>Greene County data confirms a growing epidemic of substance abuse: 
                              2015 Pennsylvania Youth Survey data from all five Greene County School Districts
                              showing significant risk in four key areas and 39% of students at risk in a significant
                              number of areas.2015 Pennsylvania Coroners Report reveals Greene ranks 5 th of 67 Pennsylvania
                              Counties in death-due- to-overdose with 36% more deaths than the previous year.
                              2015 Pennsylvania Coroners Report reveals the Greene County death-due- to-overdose
                              rate is 37% higher than the Pennsylvania average, and is higher than Washington,
                              Fayette or Allegheny counties.Greene County Children and Youth data show an increase in county babies born with illegal substances in their systems: 33 in 2015 versus 13 in 2012.</p>
                              <p><a href="section#whatever">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Why</a>
                            </h4>
                        </div>
                        <div id="">
                            <div class="panel-body">
                             <p style="text-align:center">Why do we need The Brighter Greene Coalition in our community?</p>
                             <p>The Brighter Greene Coalition provides valuable partnerships between various sectors
                                of the community.  A working coalition allows our community to come together and
                                represent a collaboration of various citizens with one united goal to provide a unified
                                approach to ensuring that our community is against illicit drug usage.  Furthermore it
                                is through these citizens and partnerships that the Brighter Greene Coalition is able to
                                reach such a large audience in various sectors of the community.</p>
                              <p><a href="section#whatever">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Who</a>
                            </h4>
                        </div>
                        <div id="">
                            <div class="panel-body">
                             <p>We aim to help those seeking help and their affected loved ones to obtain the services and the help they desperately need.</p>
                             <p><a href="section#whatever">Learn More</a></p>
                            </div>
                        </div>
                    </div>
<!--                     /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What is the mission of The Brighter Greene Coalition? </a>
                            </h4>
                        </div>
                        <div id="">
                            <div class="panel-body">
                            <p>The Mission of The Coalition for a Brighter Greene is to advocate continuous progress toward a drug-      free Greene County. We promote efforts that further this purpose by advancing positive, durable          change. We provide nonpartisan leadership, collaboration, and
                               resources that inform, educate and empower our citizens. We encourage and support enduring success in prevention, accountability and recovery. Our work cultivates a caring,safe, healthy, thriving community.
                           </p>
                             <p><a href="section#whatever">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
            </div>
            <!-- /.col-lg-12 -->
       
        <!-- /.row -->

      