<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coalition for a Brighter Greene</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">

 

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Coalition for a Brighter Greene</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                  
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                                       
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/manifesto">Manifesto</a>
                            </li>
                            <li>
                                <a href="/services">Services</a>
                            </li>
                            <li>
                                <a href="/sidebar">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="/404">404</a>
                            </li>
                            <li>
                                <a href="/pricing">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <%=yield%>
    <!-- Footer -->
     <footer>
        <hr>
        <div class="container">
          <!-- <div class="row"> -->
            <div class="col-lg-5 col-sm-6 col-lg-offset-1">
              <b>The Coalition for a Brighter Green</b><br>
              <i class="fa fa-envelope"></i><a href="mailto:info@minedminds.org" class="email" data-animate-hover="pulse">email@address.com</a><br>
             <a href ="tel:724255****">(724)250-****</a><br> 
              <a href="https://www.facebook.com/Coalition-for-a-Brighter-Greene-560389687500356" class="external facebook" data-animate-hover="pulse" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
            <hr class="hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="col-lg-6 col-sm-6">
              <h5 class="subscribetext"><a href='/contact'>Contact us</a>, and subscribe to our mailing list:</h5>
              <form class="subscribe" action="subscribe" method="POST">
                <div class="input-group">
                  <input type="email" class="form-control2" name="email" placeholder="mail@example.com">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-send"></i></button>
                  </span>
                </div>
              </form>     
            </div>
          <!-- </div> -->
      </div>
        <div class="row centered">
          <p class="centered">&copy; </p>
        </div>
</footer>       
    
    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
