<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Coalition for a Brighter Greene</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

 

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="reverse_floating_button" style="background:#67699f; border-radius:5px 5px 0px 0px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; top:115px; right: 18px; -webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-transform:rotate(270deg);-ms-transform:rotate(270deg);-webkit-transform-origin:100%;transform-origin:100%; -ms-transform-origin:100%; -moz-transform-origin:100%; padding:0px 10px 0px 10px; font-size:18px; color:#67c4ae;text-align:center; cursor:pointer;border:none;text-decoration: none;box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); z-index:999999; display: block; margin-top: 0px; margin-left: 0px; width:auto ; height: auto; 
  position:fixed; z-index:999999; overflow: auto;"><a href="/support">Support Us</a></div>
 
 <div class="floating_button" style="background:#67c4ae; border-radius:5px 5px 0px 0px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; top:235px; right: 18px; -webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-transform:rotate(270deg);-ms-transform:rotate(270deg);-webkit-transform-origin:100%;transform-origin:100%; -ms-transform-origin:100%; -moz-transform-origin:100%; padding:0px 10px 0px 10px; font-size:18px; color:#67699f;text-align:center; cursor:pointer;border:none;text-decoration: none;box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); z-index:999999;display: block; margin-top: 0px; margin-left: 0px; width:auto ; height: auto; 
  position:fixed; z-index:999999; overflow: auto;
}"><a href="/services">Get Help</a></div>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Coalition for a Brighter Greene</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/about">About</a>
                    </li>
                  
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                                       
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/manifesto">Manifesto</a>
                            </li>
                            <li>
                                <a href="/services">Services</a>
                            </li>
                            <li>
                                <a href="/advocacy">Advocacy</a>
                            </li>
                            <li>
                                <a href="/documentation">Documentation</a>
                            </li>
                            <li>
                                <a href="/current_happenings">Current Happenings</a>
                            </li>
                         
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <%=yield%>
  
       <footer>
        <hr>
        <div class="container">
          <!-- <div class="row"> -->
            <div class="col-lg-5 col-sm-6 col-lg-offset-1">
              <b>Coalition for a Brighter Greene</b><br>
              <i class="fa fa-envelope"></i><a href="mailto:email@coalitionforabrightergreene.org" class="email" data-animate-hover="pulse">email@coalitionforabrightergreene.org</a><br>
             <a href="tel:(724)%20213-0427">(724) 213-0427 </a><br>
              <a href="https://www.facebook.com/Coalition-for-a-Brighter-Greene-560389687500356/" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
            </div>
            <hr class="hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="col-lg-6 col-sm-6 ">
              <h5 class="subscribetext">Subscribe to our mailing list,<br>and stay update on the most recent news and events:</h5>
              <form class="" action="subscribe" method="POST">
<!--                <div class="input-group">-->
                  <input type="email" class="form-control2" name="email" placeholder="mail@example.com">
                
                    <button class="btn btn-default" type="submit"><i class="fa fa-send"></i></button>
                  
<!--                </div>-->
              </form>     
            </div>
          <!-- </div> -->
        </div>
       
      </footer>
    
    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
