<div>
<h4 class="fontcenter">COALITION FOR A BRIGHTER GREENE MANIFESTO</h4>
<h3 class="contactmessage"><%=message%></h3>
<br><br>
<p class="fontcenter">

 <iframe src="https://docs.google.com/document/d/1f-qmLXooyCgiWrPHQGNfnwZ41ruLqe4NLJFoSSacmrE/pub"  width="80%" height="400rem" id="manifestoframe"></iframe>

</p>
</div>
<div class="fontcenter1">
<form class="fontcenter1" action="/manifesto" method="post">

 <table class="tablestyle">
  <tr>
   <td colspan=2>
     <p class="mheadline">Sign Today!</p>
   </td>
  </tr>
  <hr>

  <tr>
   <td class="fontstyling">Name:</td>
   <td><input class="manifesto-input" name="name" type="text" size="30"></td>
  </tr>
  <tr>
   <td class="fontstyling">Email:</td>
   <td><input class="manifesto-input" name="email_address" type="text" size="30"></td>
  </tr>
  <tr>
<!--   <td><input type="reset"></td>-->

   <td colspan="2" class="fontcenter"><input class="mbutton btn-primary" id="signed" type="submit" value="Submit Form"  onClick="ga('send', 'event', { eventCategory: 'manifesto', eventAction: 'button_click', eventLabel: 'signed'});"/></td>
  </tr>
 </table>
</form>
</div>



       <H4 class="fontcenter">These people have signed the manifesto, now it's your turn. </H4>


<!-- <table cellpadding="2" width="50%"  align="center" cellspacing="2" table-layout=fixed>-->


  <table class="signersstyling table-bordered">
      <tbody>
   <tr>
      <!--<th COLSPAN="4"><BR><H3>TABLE TITLE</H3>-->

<!--      </th>-->
   </tr>
   <tr>
      <th class="fontcenter" >Name</th>
      <th class="fontcenter">Date</th>
   <!--<th>Email</th>-->
   </tr>
          <p class="signedstyle">
   <% signed.each do |signers| %></p>
   <tr class="fontcenter">
      <td class="twidth"><%=signers['name']%></td>
      <td class="twidth"><%=signers['date']%></td>
    <!--<TD><%=signers['email_address']%></TD>-->
   </tr>
<%end%>




      </tbody>
  </table>










