  <h4 style="text-align:center">COALITION FOR A BRIGHTER GREENE MANIFESTO</h4>


<p style="text-align:center">
 
 <iframe src="https://docs.google.com/document/d/1f-qmLXooyCgiWrPHQGNfnwZ41ruLqe4NLJFoSSacmrE/pub"  width="80%" height="400rem" id="manifestoframe"></iframe>

</p>


<form action="/manifesto" method="post">

 <table cellpadding="2" width="20%"  align="center" cellspacing="2">
  <tr>
   <td colspan=2>
    <center><font size=4><b>Sign Today!</b></font></center>
   </td>
  </tr>
  <hr>
  
  <tr>
   <td>Name</td>
   <td><input class="manifesto-input" name="name" type="text" size="30"></td>
  </tr>
  <tr>
   <td>Email</td>
   <td><input class="manifesto-input" name="email_address" type="text" size="30"></td>
  </tr>
  <tr>
<!--   <td><input type="reset"></td>-->
   <td colspan="2" style="text-align:center"><input type="submit" value="Submit Form" /></td>
  </tr>
 </table>
</form>

       <H4 style="text-align:center">These People have signed the manifesto, now its your turn. </H4>
<p style="margin-left:2rem;">
   <% signed.each do |signers| %>
 <table>
 <td><a href="mailto:<%=signers['email_address']%>" style="margin-right:.75rem;"><%=signers['name']%></a><%=signers['date']%> </td>
</table>
       
 <%end%>
 </p>