 <!doctype html>
<title>Example</title>
<style>
  * {
   box-sizing: border-box; 
  }
  body {
    margin: 0;
  }
  #main {
    display: flex;
    min-height: calc(120vh - 40vh);
  }
  #main > article {
    flex: 1;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 30vw;
    background: beige;
  }
  #main > nav {
    order: -1;
  }
  , footer, article, nav, aside {
    padding: 1em;
  }
  , footer {
    background: yellowgreen;
    height: 10vh;
  }
</style>
<body>
  
  <div id="main">
    <article> 

        
        <div class="row">
            <div class="col-md-12" align= "center">
                <img class="img-responsive" src="img/markerOne.jpg" alt="">
            </div></article>
    <nav> <div id="main">
    <article> 

        
        <div class="row">
            <div class="col-md-12" align= "center">
                <img class="img-responsive" src="img/casa.jpg" alt=""></nav>
    <aside> <div id="main">
    <article> 

        
        <div class="row">
            <div class="col-md-12" align= "center">
                <img class="img-responsive" src="img/casaTwo.jpg" alt=""></aside>
  </div>
  <footer></footer>
</body>