 <!doctype html>
<title></title>
<style>
  * {
   box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  #main {
    display: flex;
    min-height: calc(120vh - 40vh);
  }
  #main > article {
    flex: 1;
  }
  #main > nav,
  #main > aside {
    flex: 0 0 30vw;
    background: beige;
  }
  #main > nav {
    order: -1;
  }
  , footer, article, nav, aside {
    padding: 1em;
  }
  , footer {
    background: yellowgreen;
    height: 10vh;
  }
</style>
<body>

  <div id="main">
    <article>


        <div class="row">
            <div class="col-md-12" align= "center">
                          <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">WHAT DO LANDLORDS THINK ABOUT DRUG ABATEMENT LAWS?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                               <iframe src="https://drive.google.com/file/d/0ByPwFBJ-Mqj_bU5GaVp4eHhjcDFMYVM5U1pvRzhjbWd6MWhV/preview" width="100%" height="450rem"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                             <script>

                             </script>
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">The Greene County Crime Watch Action to Abate Drug Nuisances Complaint Form
</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <iframe src="https://docs.google.com/document/d/1fk_IJeT_fjYE-6vsKB9IqYV3PJL6FcCPclNOzcjCP5Q/pub" width="100%" height="400rem"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Model Drug Nuisance Abatement Act</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <iframe src="https://drive.google.com/file/d/0ByPwFBJ-Mqj_Z0xOLW5HOF8zbmw4YjZROGd1Q2Q1Y2t6aVg4/preview" width="100%"  height="450rem"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> Greene County Crime Watch Manual </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                          <iframe src="https://docs.google.com/document/d/1WVZLteb17W3CGb72oT4YKI7qIcPCxAadLD2GWA_iATQ/pub" width="100%" height="400rem"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                 <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">STANDARD RIGHT-TO-KNOW REQUEST FORM</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
<iframe src="https://docs.google.com/document/d/14scUS3b3ahJQdioQ67tkmDJSiT1svemNWvvK56X7h-M/pub?" width="100%" height="400rem"></iframe>
                            </div>
                        </div>
                    </div>
                 <!-- /.panel -->
                   <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">K-9 Program and D.A.R.E. Program</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                           <iframe src="https://docs.google.com/document/d/1jKSXbTHDTJ0cB4HEAPbZeBV1Jyo57HkFnHKPZtMI418/pub" width="100%" height="400rem"></iframe>
                            </div>
                        </div>
                    </div>
                 <!-- /.panel -->
                 <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Recovery-Oriented Systems of Care</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                         <iframe src="https://docs.google.com/document/d/1RySBW_eikVY0d0k-o8J1DyItU1QOh78DN4A3QA7cSd4/pub" width="100%" height="400rem"></iframe>
                            </div>
                        </div>
                    </div>
                 <!-- /.panel -->
                </div>
                <!-- /.panel-group -->
           <!-- </div>-->
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
   </div></article>
    <nav> <div id="main">
    <article>


        <div class="row">
            <div class="col-md-12" align= "center">
                <img class="img-responsive" src="img/casa.jpg" alt="">
            </div>
        </div>
        </article>
        </div>
                </nav>
    <aside> <div id="main">
    <article>


        <div class="row">
            <div class="col-md-12" align= "center">
                <img class="img-responsive" src="img/casaTwo.jpg" alt="">
            </div>
        </div>
        </article>
        </div>
    </aside>
  </div>
</body>

