<header id="top" class="header">
<!-- Top content -->
<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			<header class="company-header">
				<h1>Energy Worker Support Force</h1>
			</header>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 form-box">
				<div class="form-top">
					<div class="form-top-left">
						<h3>Password reset request</h3>
						<p>Please fill out your email:</p>
					</div>
				</div>

				<div class="form-bottom">
					<form action="/reset_password" method="post" class="login-form">
						<div class="form-group">
							<label class="hidden-xs">Email address</label>
							<p><%=email%></p>
							<input type="hidden" value="<%=email%>" name="email">
						</div>
								<div class="form-group">
                  <label for="resetPassword" class="hidden-xs">* Password</label>
                  <input id="resetPassword" type="password" name="password" class="form-control" required="required" placeholder="Password">
                </div>

                <div class="form-group">
                  <label for="confirmResetPassword" class="hidden-xs">Confirm Password *</label>
                  <div id="resetpassword_error" style="color: red"></div>
                  <input id="confirmResetPassword" type="password" name="confirmPassword" class="form-control" required="required" placeholder="Confirm Password" oninput="confirm_reset_password()">
                </div>
                      <p id="reset_password_error"></p>
						 <div id="reset_Password_Button" style="display:none">
                  <button type="submit" class="btn">Reset Password</button>
						</div>
					</form>
                  
                  <script>
					 function confirm_reset_password(){
    var inputPassword = document.getElementById("resetPassword").value;
    var confirmPassword = document.getElementById("confirmResetPassword").value;
    if (inputPassword == confirmPassword) {
      document.getElementById("reset_Password_Button").style.display = "block";
      document.getElementById("reset_password_error").innerHTML = "";
    } else {
      document.getElementById("reset_password_error").innerHTML = "Passwords don't match";
      document.getElementById("reset_Password_Button").style.display = "none";
    }
  }
                  </script>
              </div>                  
			</div>
		</div>
	</div>
</div>
