<!DOCTYPE html>
<html lang="en">



<body>

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
      
        <!-- Service Tabs -->
        <div class="row">
          
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab">Greater Waynesburg Christian Outreach</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab">NA/AA Meeting List</a>
                    </li>
                    <li class=""><a href="#service-three" data-toggle="tab">Botvin Lifestyle Training</a>
                    </li>
                    <li class=""><a href="#service-four" data-toggle="tab">Pennslyvaina Adult & Teen Challenge</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                       <p>
<iframe src="https://docs.google.com/document/d/15qbnjEkzcrw1Rp5jXoM-78gs3-hNlkQZTzbFYFXudWM/pub" width="100%" height="250rem"></iframe>



  
                           </p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <p><iframe src="https://docs.google.com/document/d/1FCYx1wbtSDpF8GUXQS6aC_FoanJtO-hCtKGCRiJhovw/pub?embedded=true" width="100%" height="250rem"></iframe></p>
                    </div>
                    <div class="tab-pane fade" id="service-three">
                        <h4>Botvin Lifestyle Training</h4>
                        <p>Botvin LifeSkills Training (LST) is a research-validated substance abuse prevention program proven to reduce the risks of alcohol, tobacco, drug abuse, and violence by targeting the major social and psychological factors that promote the initiation of substance use and other risky behaviors. This comprehensive and exciting program provides adolescents and young teens with the confidence and skills necessary to successfully handle challenging situations. </p>
                        <p>
                         Developed by Dr. Gilbert J. Botvin, a leading prevention expert, Botvin LifeSkills Training is backed by over 30 scientific studies and is recognized as a Model or Exemplary program by an array of government agencies including the U.S. Department of Education and the Center for Substance Abuse Prevention.
                     </p>
                     <p>
                       <a href="http://www.lifeskillstraining.com" target="_blank">Learn More</a>
                     </p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>Pennslyvaina Adult & Teen Challenge </h4>
                        <p>
                     Pennsylvania Adult & Teen Challenge (PATC) specializes in support for those recovering from substance use issues. We specialize in treating those suffering from addiction to opioids (i.e. heroin & prescription medication), alcohol, benzodiazepines, and other addictive substances. PATC combine both physical as well as mental and emotional support to help end the addictive cycle. Physical support includes medical detox and subsequent medical intervention (including medication), and mental health support includes in-depth therapy to address the underlying causes of addiction. Our therapy utilizes the most current evidence based practices such as motivational interviewing, cognitive behavioral therapy, and dialectical behavioral therapy. As a patient you will find PATC to be a place of healing and renewal.
                     </p>
                     <p>
                     <a href="http://www.teenchallengetc.com/get-help/detox/">Learn more </a>about our medical detox program.Our Detox facility has been newly renovated and incorporates the quality medical care that each of our patients deserves.  Our detox is here to better serve our community at the onset of recovery. Trust PA Adult & Teen Challenge with your recovery from beginning to end.
                     </p>
                     <p>
                     We offer a <a href="http://www.teenchallengetc.com/get-help/short-term-state-licensed-program/">short-term </a>, state licensed program. The average program length is 14-90 days and available for men and women, 18 years of age and older. This program utilizes the traditional twelve steps and other empirically based therapeutic models. A faith-based track is available upon request.
                     </p>
                     <p>
                      PA Adult & Teen Challenge offers a long-term <a href="http://www.teenchallengetc.com/get-help/long-term-faith-based-program/">10 month faith-based</a> recovery program. A student can enter the long term program through the short term or induction program. The long-term program is designed to assist individuals in freedom from drugs and alcohol and the life destructive behavior that accompanies it.
                     </p>
                    </div>
                </div>

            </div>
        </div>


        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
        <div class="col-lg-12">

                <h2 class="page-header">Resources</h2>
            </div>
            <div class="col-md-3 col-sm-3 ">
                <div class="media">
                   <div class="pull-left">
                         
                    </div>
                   <div class="media-body">
                    <a href="http://www.drugabuse.gov" target="_blank"><img src="img/nida.gif" width="150rem"></a>
                    </div>
                </div>
                <div class="media">
                   <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                        <a href="http://www.parentingisprevention.org" target="_blank" ><img src="img/pip.gif" width="150rem"></a> 
                    </div>
                </div>
                <div class="media">
            
                        
                    </div>
                    <div class="media-body">
                         <div class="pull-left">
                        <a href="http://www.thetruth.com" target="_blank"><img src="img/thetruth.png" width="150rem"> </a>


                    </div>
                </div>
             <div class="media">
            
                        
                    </div>
                    <div class="media-body">
                         <div class="pull-left">
                        <a href="https://www.paatc.org/" target="_blank"><img src="img/pantc.png" width="150rem"> </a>


                    </div>
                </div>
             
             
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="media">
                   <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                     <a href="http://www.samhsa.gov" target="_blank"><img src="img/samhsa.png" width="150rem"> </a>
                        </div>
                </div>
                <div class="media">
                     <div class="pull-left">
                         
                    </div>
                    <div class="media-body">
                        <a href="http://www.inhalants.org" target="_blank"><img src="img/nipc.gif" width="250rem"></a>
                        
                    </div>
                </div>
                <div class="media">
                     <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                        <a href="http://www.theantidrug.com" target="_blank" ><img src="img/drugfreekids.png" width="150rem"></a>
                        
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                         
                    </div>
                    <div class="media-body">
                        <a href ="http://www.camy.org"  target="_blank" ><img src="img/centeronyouth.png" width="250rem"> </a> 
                    </div>
                </div>
            </div>
              <div class="col-md-3 col-sm-3 ">
             
                <div class="media">
                    <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                        <a href="http://www.dfaf.org" target="_blank"><img src="img/dfaf.png" width="75rem"></a> 
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        
                    </div>
                    
                </div>
            </div>
         
        </div>
        <!-- /.row -->