<!DOCTYPE html>
<html lang="en">



<body>

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/addiction.jpg" style="height: 60rem;width: 115rem;"alt="">
            </div>
        </div>
        


        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
        <div class="col-lg-12">

                <h2 class="page-header">Service List</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                   <div class="pull-left">
                         
                    </div>
                   <div class="media-body">
                        <a href="http://www.drugabuse.gov">National Institute on Drug Abuse</a> 
                    </div>
                </div>
                <div class="media">
                   <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                        <a href="http://www.parentingisprevention.org">Parenting is Prevention</a> 
                    </div>
                </div>
                <div class="media">
            
                        
                    </div>
                    <div class="media-body">
                         <div class="pull-left">
                        <a href="http://www.thetruth.com">The Truth</a>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                   <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                     <a href="http://www.samhsa.gov">Center for Substance Abuse Prevention</a>
                        </div>
                </div>
                <div class="media">
                     <div class="pull-left">
                         
                    </div>
                    <div class="media-body">
                        <a href="http://www.inhalants.org">Inhalants Info</a>
                        
                    </div>
                </div>
                <div class="media">
                     <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                        <a href="http://www.theantidrug.com">National Youth Anti-Drug Media Campaign</a>
                        
                    </div>
                </div>
            </div>
              <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                         
                    </div>
                    <div class="media-body">
                        <a href ="http://www.camy.org">Center on Alcohol Marketing and Youth</a> 
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                        <a href="http://www.dfaf.org">Drug Free America</a> 
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        
                    </div>
                    <div class="media-body">
                        
                        <a href="http://www.parentingisprevention.org">Parenting is Prevention</a>


                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->