<body>

    <div class="container">
       <div class="row">
           <h3>Documentation</h3>
           <hr>
       <div class="col-lg-6">
           <p>
               <a href="https://docs.google.com/document/d/1B4D4PpvMYnAxE9ug23BuuX_ZGM9dV354mwwwYfwNpyc/pub" target = "_blank"> Greene County Crime Watch Manual </a>
           </p>
           <p>
               <a href="https://docs.google.com/document/d/1AQgG1at0tT2-6dLdcrQx22W6bQRS6uYIJ3P1wrXhGeY/pub" target="_blank">WHAT DO LANDLORDS THINK ABOUT DRUG ABATEMENT LAWS?</a>
           </p>
           <p>
              <a href="https://docs.google.com/document/d/1447XgWEGbDv8LQuRktGwlVd-QZpt0MucnHyQemBu6F4/pub" target="_blank">Greene County Crime Watch Action to Abate Drug Nuisances Complaint Form</a>
           </p>
           <p>
              <a href="https://docs.google.com/document/d/1nMv6CDX5yvbSgxToOlGqnVfKEJD_62xDgKCFVgKUsLI/pub" target="_blank">STANDARD RIGHT-TO-KNOW REQUEST FORM</a>
           </p>
       </div>

     <div class="col-lg-6">
         <p>
             <a href="https://docs.google.com/document/d/1v70TMUud3UUI4wuQPm4XdEa9VAhSaTlc3rvNgaPrGO4/pub" target="_blank">K-9 Program and D.A.R.E. Program</a>
         </p>
         <p>
             <a href="https://docs.google.com/document/d/1pN8EK5pRWPMnbTJge8CP1QfQKF1kzIHgK14uFGGBhcg/pub" target="_blank">Greene County Drug and Alcohol Program</a>
         </p>
         <p>
             <a href="https://docs.google.com/document/d/1tn4UrT5_EOyswxYFda5RFfqu5tpQhNfD0FIvqJRQLa4/pub" target="_blank">Model Drug Nuisance Abatement Act</a>
         </p>
     </div>
       </div>
<br><br><br><br>

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->

        <!-- Service Tabs -->
        <div class="row">

            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab">Greater Waynesburg Christian Outreach</a>
                    </li>
                    <li class="noborder"><a href="#service-two" data-toggle="tab">NA / AA <br> Meeting List</a>
                    </li>
                    <li class="noborder"><a href="#service-three" data-toggle="tab">Botvin Lifestyle <br>Training</a>
                    </li>
                    <li class="noborder"><a href="#service-four" data-toggle="tab">Pennslyvaina Adult & Teen Challenge</a>
                    </li>
                    <li class="noborder"><a href="#service-five" data-toggle="tab">Pennsylvania <br>CASA<br></a>
                    </li>
                    <li class="noborder"><a href="#service-six" data-toggle="tab">Important / Emergency<br> Numbers<br></a>
                    </li>


                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                       <p>
<iframe src="https://docs.google.com/document/d/15qbnjEkzcrw1Rp5jXoM-78gs3-hNlkQZTzbFYFXudWM/pub" width="100%" height="250rem"></iframe>




                           </p>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <p><iframe src="https://docs.google.com/document/d/1FCYx1wbtSDpF8GUXQS6aC_FoanJtO-hCtKGCRiJhovw/pub?embedded=true" width="100%" height="250rem"></iframe></p>
                    </div>
                    <div class="tab-pane fade" id="service-three">

                     <h4>Botvin Lifestyle Training</h4>
                     <br>
                        <p>Botvin LifeSkills Training (LST) is a research-validated substance abuse prevention program proven to reduce the risks of alcohol, tobacco, drug abuse, and violence by targeting the major social and psychological factors that promote the initiation of substance use and other risky behaviors. This comprehensive and exciting program provides adolescents and young teens with the confidence and skills necessary to successfully handle challenging situations. </p>
                        <p>
                         Developed by Dr. Gilbert J. Botvin, a leading prevention expert, Botvin LifeSkills Training is backed by over 30 scientific studies and is recognized as a Model or Exemplary program by an array of government agencies including the U.S. Department of Education and the Center for Substance Abuse Prevention.
                     </p>
                     <p>
                       <a href="http://www.lifeskillstraining.com" target="_blank">Learn More</a>
                     </p>
                    </div>
                    <div class="tab-pane fade" id="service-four">
                        <h4>Pennslyvaina Adult & Teen Challenge </h4>
                     <br>
                        <p>
                     Pennsylvania Adult & Teen Challenge (PATC) specializes in support for those recovering from substance use issues. We specialize in treating those suffering from addiction to opioids (i.e. heroin & prescription medication), alcohol, benzodiazepines, and other addictive substances. PATC combine both physical as well as mental and emotional support to help end the addictive cycle. Physical support includes medical detox and subsequent medical intervention (including medication), and mental health support includes in-depth therapy to address the underlying causes of addiction. Our therapy utilizes the most current evidence based practices such as motivational interviewing, cognitive behavioral therapy, and dialectical behavioral therapy. As a patient you will find PATC to be a place of healing and renewal.
                     </p>
                     <p>
                     <a href="http://www.teenchallengetc.com/get-help/detox/">Learn more </a>about our medical detox program.Our Detox facility has been newly renovated and incorporates the quality medical care that each of our patients deserves.  Our detox is here to better serve our community at the onset of recovery. Trust PA Adult & Teen Challenge with your recovery from beginning to end.
                     </p>
                     <p>
                     We offer a <a href="http://www.teenchallengetc.com/get-help/short-term-state-licensed-program/">short-term </a>, state licensed program. The average program length is 14-90 days and available for men and women, 18 years of age and older. This program utilizes the traditional twelve steps and other empirically based therapeutic models. A faith-based track is available upon request.
                     </p>
                     <p>
                      PA Adult & Teen Challenge offers a long-term <a href="http://www.teenchallengetc.com/get-help/long-term-faith-based-program/">10 month faith-based</a> recovery program. A student can enter the long term program through the short term or induction program. The long-term program is designed to assist individuals in freedom from drugs and alcohol and the life destructive behavior that accompanies it.
                     </p>
                    </div>
                    <div class="tab-pane fade" id="service-five">
                        <h4>Pennsylvania CASA</h4>
                     <br>
                        <p>
                         Mission and Vision:
                         The Pennsylvania Court Appointed Special Advocates Association (PA CASA), together with national and local CASA programs, supports and promotes court appointed volunteer advocacy for abused and neglected children so they can thrive in safe, permanent homes.
                     </p>
                     <p>
                        History:
                        The Pennsylvania Court Appointed Special Advocates Association (PA CASA) is a non-profit organization founded in 1998 and recognized by the National CASA Association (NCASA) as a member in good standing.  Today in Pennsylvania there are CASA program offices in 19 locations serving 24 county court jurisdictions.
                     </p>
                     <p>
                      To report suspected child abuse and neglect, call Childline <a href="tel:18009320313">1-800-932-0313</a>, available 24 hours a day.
                     </p>
                     <p>
                      To receive information on parenting support agencies in your community, visit the <a href="https://www.pa-fsa.org/Parents-Caregivers/Support-Education-Programs/Find-Programs-in-Your-Community/view_722/main">PA Family Support Alliance website.</a>
                     </p>
                    </div>
                 <div class="tab-pane fade" id="service-six">
                     <h4>Important & Emergency Numbers</h4>
                     <br>
                     <p>
                         Substance Abuse Hotline: <a href="tel:(844)%20897-8927">(844) 897-8927</a>
                     </p>
                     <p>
                         Poison Control Center (Mr Yuk): <a href="tel:18002221222">(800) 222-1222</a>
                     </p>
                     <p>
                         National Suicide Prevention Hotline: <a href="tel:18002738255">(800) 273-8255</a>
                     </p>
                 </div>

            </div>




        <!-- Service List -->
        <div class="row">
        <div class="col-lg-12">

                <h2 class="page-header">More resources</h2>
         </div>
                 <div class="col-lg-11 col-lg-offset-1">

                     <a href="http://www.drugabuse.gov" target="_blank"><img src="img/nida.gif" class="resourcelogo"></a>

                     <a href="http://www.parentingisprevention.org" target="_blank" ><img src="img/pip.gif" class="resourcelogo"></a>

                     <a href="http://www.thetruth.com" target="_blank"><img src="img/thetruth.png"  class="resourcelogo"> </a>

                     <a href="https://www.paatc.org/" target="_blank"><img src="img/pantc.png"  class="resourcelogo"> </a>

                     <a href="http://www.samhsa.gov" target="_blank"><img src="img/samhsa.png" class="resourcelogo"> </a>

                     <a href="http://www.inhalants.org" target="_blank"><img src="img/nipc.gif" class="resourcelogo"></a>

                     <a href="http://www.theantidrug.com" target="_blank" ><img src="img/drugfreekids.png"  class="resourcelogo"></a>

                     <a href ="http://www.camy.org"  target="_blank" ><img src="img/centeronyouth.png"  class="resourcelogo"> </a>

                     <a href="http://www.dfaf.org" target="_blank"><img src="img/dfaf.png"  class="resourcelogo"></a>

                 </div>
          </div>


        <!-- /.row -->
