        
  
  <div class="row">
    <div class="col-lg-12" style="text-align:center">
      <h3 style="text-align:center"> Support us in Making Greene County a BRIGHTER one</h3>

     <br><br><br><br><br>
     <div class="col-lg-6 col-lg-offset-3">
      <p>
        Coalition for a Brighter Greene is a 501(c)(3) non-profit, all-volunteer organization working with community leaders, schools, churches, public organizations and citizens to alleviate the drug abuse problem in Greene county.
       
        If you would like to donate, you can do so by credit or debit card by clicking below. If you would prefer to donate in a different way please <a href="contact" target="_blank">contact us </a> for details. All contributions are tax-deductible. Our Employer Identification Number is 81-2751062.<br>
     </p>
      <p>
       You can also choose to support us by <a href="contact#contact" onClick="document.getElementById('reason').value='Volunteer'">volunteering</a> today!
      </p>
     <br>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      		<input type="hidden" name="cmd" value="_s-xclick" />
      		<input type="hidden" name="hosted_button_id" value="56LCN98TY3ADJ" />
      		<input type="image" src="img/paypal.png" width="25%" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" />
    	  </form>
    </div>
   </div>
  </div>


